@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<label>Musteri Adı Soyadı</label>
<input class="form-control musteriAdiSoyadi" type="text" />
<label>Musteri Vergi Dairesi</label>
<input class="form-control vergiDairesi" type="text" />
<label>Musteri Vergi No</label>
<input class="form-control vergiNo" type="text" />
<a href="#" class="btn btn-success musteriEkle">Müşteri Ekle</a>
<script>

</script>